<div class ="FirstView">

  <section class ="container">

    <h2 class ="FirstView_title">
    Potepan Shareで
    <br>
    まだ体験したことのない
    <br>
    旅をしよう
    </h2>
    <!--  <div class="FirstViewSearch">
    検索機能を後ほど実装
    </div>  -->

  </section>

</div>