.header {
  background-color: #1c1d3b;
  height: 80px;
  width:100%;
}

.header__bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.header_logo {
  width: 221px;
  margin-left:20px;
}

.login  {
  color:white;
  font-size: 12px;
  text-decoration: none;
}

.register_new  {
  color:white;
  font-size: 12px;
  text-decoration: none;
  background-color: #ff7757;
  border-radius: 0.25rem;
  padding: 10px;
}

.user_resigter {
  text-decoration: none;
}
