

.SideNav {
  border: 1px solid #c9d0d7;
  width: 336px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.UserContainer {
  display: flex;
  grid-gap: 32px;
  gap: 32px;
  justify-content: space-between;
}

.AccountInformation__header {
  align-items: center;
  border-bottom: 1px solid #dfe2e6;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  padding-bottom: 8px;
}

.AccountInformation__input-group {
  align-items: center;
  display: block;
  margin-bottom: 24px;
}

